Module 3/Web-Services-and-Cloud/8. Windows Communication Foundation (WCF)/StringCompare.Client/Service References/ServiceStringCompare/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Contains">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secondString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContainsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>